* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
    background-color: #202325;

}

.home89 {
    text-decoration: none;
    color: white;
}

.hero {
    height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('resources\background-img\background-img.jpg'); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('resources/background-img/background-img.jpg');
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    color: white;
    font-size: 28px;
}

span {
    color: #ea1538;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ea1538;
    transform: scale(1.2);
    cursor: pointer;
}

.login {
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

.login:hover {
    transform: scale(1.4);
    cursor: pointer;
}

.hero-text {
    margin-top: 200px;
    color: white;
    display: block;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    text-align: center;
    /* Ensures text alignment */
    color: white;
    /* Makes text stand out on a dark background */
}



.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

.hero-text .btn {
    background: #ea1538;
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s;
}

.hero-text .btn:hover {
    transform: scale(1.1);
}


.explore {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}


.container {
    max-width: 1170px;
    margin: auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.sitemap-col {
    width: 25%;
    padding: 0 15px;
}

.sitemap-table {
    width: 100%;
    padding: 0 15px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-top: 450px;
    text-align: center;
}

.sitemap-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.sitemap-col h3 {
    font-size: 20px;
    color: white;
    margin-bottom: 35px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}

.sitemap-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.sitemap-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
}

.sitemap-col ul li a:hover {
    color: #ea1538;
    padding-left: 8px;
}




/*foooter-----------------------------*/


.footer {
    background-color: rgb(42, 51, 42);
    color: white;
    text-align: center;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: white;
    margin-bottom: 35px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 10;
    bottom: -10px;
    background-color: #ea1538;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ea1538;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    background-color: white;
}

/* Responsive */
@media screen and (max-width: 900px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}